<div class="card meetings cf">
	
	<div class="textintro">
		<h1>Meeting Area</h1>
		<p>Type a meeting name and hit <strong>+</strong></p>
	</div><!-- ./ textintro -->

	<form action="" class="formgroup addmeeting cf"
		name="myform"
		ng-submit="addMeeting()"
		novalidate>

		<div class="inputwrapper">
			<input type="text" name="meetingname" 
				placeholder="Meeting name" 
				ng-model="meetingname" 
				ng-required="true"/>
		</div><!-- inputwrapper -->

		<button type="submit" class="btn"
		ng-disabled="myform.$invalid">+</button>
		
	</form><!-- /. addmeeting -->

	<h2>Your Meetings</h2>
	<div class="meeting" ng-repeat="meeting in meetings">
		<button class="btn btn-delete tooltip" ng-click="deleteMeeting(meeting)">
			<span>Delete This Meeting</span>
		</button>

		<a ng-href="#/checkins/{{ currentUser.regUser }}/{{ meeting.$id }}" 
			class="btn btn-checkin tooltip">
			<span>Go to Check-in URL</span>		
		</a>

		<span class="text">{{meeting.name}}</span>
	</div>

</div><!-- ./ meettings cf -->